.tweet__avatar {
  width: 32px;
  height: 32px;
  border-radius:  50%;
  object-fit: cover;
  margin-right: 8px;
}

.grid {
  display: flex;
}

.grid > div:nth-child(2) {
  flex: 1;
}

.tweet__txt {
   border: 1px solid #cbcbcb;
   font-size: 14px;
   width: 100%;
   height: 80px;
   resize: none;
   border-radius: 8px;
   padding: 5px;
}

.tweet__txt:focus {
  outline: none;
  border-width: 2px;
  border-color: #adadad
}

.tweet__body {
  background-color: rgba(50, 50, 50, 0.1);
  padding: 8px 12px;
}
